body {
  margin: 0;
  font-size: 20px;
  font-family: arial, sans-serif;
}

nav {
  height: 900px;
  background-image: url(bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

nav > .title {
  text-align: center;
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
  padding-top: 40px;
  padding-bottom: 80px;
}

/* nav > .menu */
nav > .menu {
  display: flex;
  justify-content: center;
  margin-bottom: 250px;
}

nav > .menu > .item {
  font-size: 0.8em;
  margin: 0 40px;
  color: #222;
  text-shadow: 0 0 5px #fff;
  transition: transform 0.5s;
  cursor: pointer;
}

nav > .menu > .item:hover {
  transform: scale(1.05,1.05);
}

/* nav > .mobile-menu */
nav > .mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  text-align: center;
  display: none;
}

nav > .mobile-menu > .item {
  font-size: 0.8em;
  color: #222;
  padding-top: 30px;
  cursor: pointer;
}

nav > .mobile-menu > .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* nav > .mobile-menu-trigger */
nav > .mobile-menu-trigger {
  display: none;
  justify-content: center;
  margin-bottom: 100px;
}

nav > .mobile-menu-trigger > .lines {
  width: 40px;
}

nav > .mobile-menu-trigger > .lines > .line {
  height: 2px;
  background-color: #000;
  margin: 8px 0;
}

nav > .memo {
  text-align: center;
  font-size: 3em;
  line-height: 1.25em;
  letter-spacing: 3px;
}

/* 螢幕尺寸小於 800px，套用以下設定 */
@media (max-width: 800px) {
  nav {
    height: 600px;
    background-position: 20% center;
  }
  nav > .title {
    padding: 25px 0;
    margin-bottom: 40px;
  }
  nav > .memo {
    font-size: 2em;
  }

  nav > .menu {
    display: none;
  }
  nav > .mobile-menu-trigger {
    display: flex;
  }
}
